- form.fields_for :tags do |f|
  %div
    %span.field= f.label :name, 'Tag:'
    = f.text_field :name

    - unless f.object.nil? || f.object.new_record?
      %span.field= f.label :_destroy, 'Remove:'
      = f.check_box :_destroy
